/* MAIN PAGE */

:root {
    --main-bg-color: #013579;
    --second-color: #676d6a;
    --third-color: #ebf2fa;
    --fourth-color: #5f4bb6;
    --fifth-color: #9e829c;
}

/* For Mobile */

@media screen and (max-width: 540px) {
    .header {
        justify-content: center;
        align-items: center;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-top {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav-links {
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .nav-links a {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .main-page h2 {
        text-align: center;
    }

    .about-page h1 {
        text-align: center;
    }
    .about-page p {
        text-align: center;
    }
}

/* For Tablets */

@media screen and (min-width: 540px) and (max-width: 780px) {
    .header {
        justify-content: center;
    }

    .navbar-top {
        justify-content: center;
    }

    .nav-links {
        justify-content: center;
    }

    .nav-links a {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap-reverse;
        margin: auto;
        width: 80%;
    }

    .container h1, div {
        justify-content: center;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #main-form {
        width: 100%;
    }

    .main-page {
        width: 90%;
    }

    .main-page h2 {
        text-align: center;
    }
    
    .about-page h1 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

/* Desktop */

@media screen and (min-width: 780px) {
    .container h1, div {
        margin: 0;
    }

    .header a {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .nav-links {
        padding: 0.5rem;
    }

    .main-page h2 {
        margin-left: 1rem;
    }

    .page-content {
        display: inline-flex;
    }
}

.container {
    background-color: rgb(177, 177, 177);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: var(--second-color);
    display: block;
}

.header img {
    display: inline-flex;
    margin-bottom: 1rem;
}

.header h2 {
    font-family: Helpme, sans-serif;
    /* color: #aa0101; */
    padding: 0 0.5rem;
    letter-spacing: 0.3rem;
    color: var(--main-bg-color);
    display: inline-flex;
    font-weight: bold;
}

.navbar-top {
    align-items: center;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.navbar-top img {
    height: 8rem;
    width: 8rem;
    margin-bottom: 0;
    margin-right: 0;
    justify-content: center;
}

.nav-links {
    background-image: linear-gradient(to right, gray, var(--main-bg-color), black);
    border: 1px solid black;
    display: inline-flex;
    width: 100%;
}

.nav-links a {
    color: var(--third-color);
}

.nav-links a:hover {
    color: blue;
    transition: 0.5s;
}

.main-page {
    height: auto;
}

.main-page h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about {
    display: block;
    width: 100%;
    max-width: 1200px;
    background-color: white;
}

.about p {
    font-size: 2rem;
    padding: 2rem;
}

#main-form {
    border: 1px solid black;
    padding: 1rem;
    flex: 1 1;
    width: 100%;
}

#main-form u {
    font-size: 1.75rem;
    font-weight: bold;
}

#pageData {
    border: 1px solid green;
    display: flex;
    flex: 8 8 50%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

#quickSearch {
    width: 90%;
    margin-bottom: 1rem;
    margin: 1rem auto;
}

.event {
    background-color: white;
    font-size: calc(1rem + 0.75vw);
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    flex: 1 1 24%;
    max-width: 50%;
    min-width: 200px;
    white-space: nowrap;
}

.event h2 {
    font-size: calc(1rem + 0.75vw);
    text-decoration: underline;
}