.default {
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.welcome-vid {
    /*margin-top: 12em;*/
    pointer-events: none;
    display: block;
    width: 100%;
}

.search-bar {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quickSearch {
    display: inline-block;
    min-width: 55%;
    height: 5rem;
    margin: 1rem;
    margin-top: 2em;
    border-width: 1px;
    border-radius: 2px;
    padding-left: 8px; 
    padding-right: 8px;
    border-style: solid;
    background-color: white;
    border-color: Black;
    
    font-size: 16pt;
    line-height: 24px;
    text-transform: capitalize;
}

.title-overlay {
    text-align: center;
    height: auto;
    width: auto;
    text-align: center;
    /*position: absolute;*/
    top: calc(13% - 3vh);
    margin: auto;
}

.search-button {
    border-radius: 2px;
    text-align: center;
    background-color: #1EC5F7;
    color: white;
    border-width: 0px;
    width: 7.5em;
    height: 2em;
    
    font-size: 21pt;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Akshar', sans-serif;
    text-transform: capitalize;
}

.footer {
    margin-top: 5em;
    text-align: center;
}