.default {
    margin: 0px;
    background-color: antiquewhite;
}

.welcome-vid {
    pointer-events: none;
    display: block;
    width: 100%;
}

.search-bar {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quickSearch {
    display: inline-block;
    width: 50%;
    height: 5rem;
    margin: 1rem;
    border-width: 3px;
    border-radius: 30px;
    padding-left: 8px; 
    padding-right: 8px;
    border-style: solid;
    background-color: floralwhite;
    border-color: lightslategray;
}

.title-overlay {
    text-align: center;
    height: 100px;
    width: 800px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: calc(13% - 3vh);
    margin-top: -50px;
}

h1 {
    font-size: calc(2rem + 2vw);
    color: lightgray;
    text-shadow: 2px 2px 2px Black;
}

.eventsButton {
    margin-top: 10px;
    text-align: center;
}

.copyright {
    text-align: center;
}