/* MAIN PAGE */

:root {
    --main-bg-color: white;
    --second-color: #d9d9d9;
    --third-color: #000000;
    --fourth-color: #5f4bb6;
    --fifth-color: #9e829c;
}

/* For Mobile */

@media screen and (max-width: 540px) {
    .header {
        justify-content: center;
        align-items: center;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-wrapper {
        width: 100%;
        display: flex;
        flex: 1 1;
        align-items: stretch;
    }

    #pageData {
        width: 100%;
        display: flex;
        flex: 1 1;
        align-items: stretch;
    }

    .navbar-top {
        width: 100%;
        justify-content: center;
    }

    .navbar-image {
        display: block;
        padding-bottom: 0;
    }

    .navbar-title {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 0;
    }

    .navbar-title h2 {
        margin-top: 0;
    }

    .nav-links {
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .nav-links a {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .main-page h2 {
        text-align: center;
    }

    .about-page h1 {
        text-align: center;
    }
    .about-page p {
        text-align: center;
    }
}

/* For Tablets */

@media screen and (min-width: 540px) and (max-width: 780px) {
    .header {
        justify-content: center;
    }

    .navbar-top {
        justify-content: center;
    }

    .nav-links {
        justify-content: center;
    }

    .nav-links a {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 80%;
    }

    .container h1, div {
        justify-content: center;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-wrapper {
        width: 100%;
        display: flex;
        flex: 1 1;
        align-items: stretch;
    }

    #pageData {
        width: 100%;
        display: flex;
        flex: 1 1;
        align-items: stretch;
    }

    #main-form {
        width: 100%;
    }

    .main-page {
        width: 90%;
    }

    .main-page h2 {
        text-align: center;
    }
    
    .about-page h1 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

/* Desktop */

@media screen and (min-width: 780px) {
    .header a {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .nav-links {
        padding: 0.5rem;
    }

    .page-content {
        display: inline-flex;
    }

    .showhide-wrapper {
        text-align: center;
    }
}

/* General */

.default {
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 188.5px - 54px - 5rem);
}

.header {
    width: 100%;
    background-color: var(--second-color);
    display: block;
    margin-bottom: 2rem;
}

.navbar-top {
    width: 100%;
    justify-content: center;
}

.navbar-image {
    display: block;
    padding-bottom: 0;
}

.navbar-title {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;
}

.navbar-title h2 {
    margin-top: 0;
}

.nav-links {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.nav-links a {
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

.navbar-top {
    align-items: center;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.navbar-top img {
    height: 8rem;
    width: 8rem;
    margin-bottom: 0;
    margin-right: 0;
    justify-content: center;
}

.nav-links {
    background-color: #c5c5c5;
    display: inline-flex;
    width: 100%;
    padding: 1rem;
}

.nav-links a {
    color: var(--third-color);
}

.nav-links a:hover {
    color: blue;
    transition: 0.5s;
}

.nav-links a:visited {
    color:rgb(156, 0, 190);
}

.main-page {
    height: auto;
}

.main-page h2 {
    color: rgb(0, 0, 0);
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-content h4 {
    font-weight: bold;
}

.about {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.about h1 {
    padding: 0 2rem;
}

.about p {
    font-size: 2rem;
    padding: 2rem;
}

#spell-heading {
    margin-top: 0.5rem;
}

.form-horizontal {
    display: block;
    padding: 0 0.5rem;
    justify-content: center;
}

.form-wrapper {
    border-radius: 1rem;
    display: block;
    flex: 1 1;
    align-items: stretch;
    margin-bottom: 1rem;
    min-width: 15%;
}

.form-wrapper input {
    width: 100%;
}

.form-wrapper a {
    margin: 0.5rem 0;
    width: auto;
}

.form-wrapper a:hover {
    cursor: pointer;
}

.showhide-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spell-components {
    margin: 1rem auto;
    width: auto;
}

.quickSearch {
    height: 2rem;
    width: 5rem;
}

#main-form {
    padding: 1rem;
    flex: 1 1;
    width: 100%;
}

#main-form u {
    font-size: 1.75rem;
    font-weight: bold;
}

#main-form ul {
    list-style: none;
    padding-inline-start: 1rem;
}

#main-form h2, h3 {
    margin-top: 0;
    text-align: center;
}

#hide-button {
    display: block;
}

#show-button {
    display: none;
}

#pageData {
    width: 85%;
    display: flex;
    flex: 2 2 25%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
    margin: 1rem auto;
}

#ad-space-right {
    justify-content: center;
    margin:  1rem auto;
    min-width: 15%;
    width: fit-content;
    max-width: 70%;
    text-align: center;
    padding: 0.5rem 1rem;
    height: 50vh;
    border: 1px solid black;
}

#no-results {
    display: none;
}

.event {
    background-color: #fff6ee;
    font-size: calc(1rem + 0.5vw);
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    margin: 1rem;
    flex: 1 1 15%;
    max-width: 20%;
    min-width: 200px;
    min-height: 200px;
    box-shadow:  0 6px 4px -4px rgba(0,0,0,0.7);
    border-radius: 1em;
    border: 2px solid;
    border-color: #f7d1ad;
    color: Black;
}

.event h2 {
    font-size: calc(1rem + 0.75vw);
    font-weight: 700;
    margin-top: 0px;
    color: #5C2B69;
}

.event div {
    margin: 0.5rem 0;
}

.event-search {
    display:flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 8rem;
    align-items: center;
}

.event-search input {
    margin: 0.5rem;
    min-width: 33%;
}

.event-search button {
    margin: 0.5rem;
    align-self: center;
}

.edit-delete {
    display: inline-flex;
}

.edit-delete * {
    margin: 0 0.5rem;
}

.sponsor-text {
    font-weight: bold;
}

.event-subtext {
    font-style: italic;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#modal-content {
    background-color: white;
    color: black;
    margin: auto;
    display: block;
    padding: 0.5rem 1rem;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
#modal-content {
    animation-name: zoom;
    animation-duration: 0.3s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

#google-map {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 3rem 6rem;
    border: 1px solid black;
}

#event-info .body-text {
    margin: 0.5rem 0;
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    z-index: 1; /* Sit on top */
    color: #d30e0e;
    opacity: 0.9;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.box {
    padding: 1rem;
    min-width: 25%;
    width: auto;
    margin: auto;
}

.box h2 {
    width: 100%;
    margin: 1rem auto;
    text-align: left;
}

.box .input {
    width: 90%;
}

.box ul {
    list-style: none;
    padding-inline-start: 1rem;
}

.added-events {
    display: flex;
    flex: 1 1 25%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.field {
    margin: 0.5rem 0;
    line-height: 3rem;
}

.checkbox {
    margin-left: 2rem;
}

.footer {
    margin-top: auto;
    text-align: center;
    bottom: 0;
    width: 100%;
}