/* page titles and headers */
h1 {
    /*font-size: 37pt;*/
    font-size: calc(2vw + 16px);
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 2px;
    font-family: 'Newsreader', serif; 
    margin-top: 0px;
    margin-bottom: 0px;
}

/* topic and paragraph headers */
h2 {
    font-size: calc(1.5vw + 16px);
    color: black;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Akshar', sans-serif;
    text-transform: capitalize;
}

/* Sub header */
h3 {
    font-size: calc(1vw + 16px);
    color: black;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Akshar', sans-serif;
    text-transform: capitalize;
}

/* Sub-sub header */
h4 {
    font-size: 16pt;
    color: black;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Akshar', sans-serif;
    text-transform: capitalize;
}

.title-overlay {
  font-size: 25vw;
}

/* Main body text */
.body-copy {
    font-size: 14pt;
    color: Black;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

/* emphasized body text */
.call-out {
    font-size: 14pt;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

.legal {
    font-size: 9pt;
    color: Black;
    font-weight: 400;
    line-height: 12px;
    font-family: 'Roboto', sans-serif;
}

a:link {
  color: #1690a8;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #5C2B69;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #FFD5AD;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #0F6466;
  background-color: transparent;
  text-decoration: underline;
}

p {
    margin-left: 0;
}