{% extends "base.html" %}

{% block app_content %}
    <div class="main-page">
        <h2>About</h2>
        <div class="page-content about">
            <p>
            The Locator Spell is a gaming event broadcasting website, designed and built for players and event coordinators. Whether you want to find your next video game tournament to attend, or if you're curious about what stores are local to you, the Locator Spell can assist you in finding the games that you love.
            </p>
            <p>
            For Event Coordinators looking to broadcast an event, please reach out to: <a href = "mailto: support@thelocatorspell.com">support@thelocatorspell.com</a>
            </p>
        </div>
    </div>
{% endblock %}