{% extends "base.html" %}

{% block app_content %}
    <div class="main-page">
        <h2>About</h2>
        <div class="page-content about">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fermentum iaculis eu non. Vestibulum lorem sed risus ultricies tristique. Quam pellentesque nec nam aliquam sem. In pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Nibh sit amet commodo nulla facilisi nullam vehicula. Dolor sit amet consectetur adipiscing elit ut aliquam purus. Faucibus interdum posuere lorem ipsum dolor sit. Enim diam vulputate ut pharetra sit. Lectus quam id leo in. Orci eu lobortis elementum nibh tellus molestie. Sem integer vitae justo eget magna fermentum iaculis eu non. Sit amet risus nullam eget felis eget. Sit amet luctus venenatis lectus.
            </p>
            <p>
            Dictum varius duis at consectetur lorem donec massa sapien. Nisl purus in mollis nunc sed id semper risus. Nulla pellentesque dignissim enim sit amet venenatis urna. Quam id leo in vitae. Pellentesque dignissim enim sit amet venenatis urna. Id velit ut tortor pretium viverra suspendisse potenti nullam ac. Sit amet est placerat in egestas erat imperdiet. Id donec ultrices tincidunt arcu non sodales neque sodales. Rhoncus dolor purus non enim praesent elementum facilisis leo. Feugiat nisl pretium fusce id velit. Malesuada nunc vel risus commodo viverra. Nulla facilisi cras fermentum odio eu feugiat. Pharetra vel turpis nunc eget lorem dolor. Metus dictum at tempor commodo ullamcorper. Pulvinar elementum integer enim neque. Adipiscing at in tellus integer feugiat scelerisque varius. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
            </p>
        </div>
    </div>
{% endblock %}