{% extends "base.html" %}

{% block app_content %}
<div class="main-page">
    
    <div class="page-content">
        <div class="box">
            <h2>Add Event</h2>
            <form method="POST" action="/add_event">
                {{ form.csrf_token }}
                
                <p>
                  {{ form.name.label }}
                  <br>
                  {{ form.name(size=30) }}
                </p>
                <br>

                <p>
                  {{ form.tournament_organizer.label }}
                  <br>
                  {{ form.tournament_organizer(size=30) }}
                </p>
                <br>

                <p>
                  {{ form.location.label }}
                  <br>
                  {{ form.location(size=30) }}
                </p>
                <br>

                <p>
                  {{ form.event_type.label }}
                  <br>
                  {{ form.event_type(size=30) }}
                </p>
                <br>

                <div>
                  {{ form.category.label }}
                  {{ form.category() }}
                </div>
                <br>

                <div>
                    {{ form.start_date.label }}
                    <br>
                    {{ form.start_date() }}
                </div>
                <br>

                <div>
                    {{ form.end_date.label }}
                    <br>
                    {{ form.end_date() }}
                </div>
                <br>

                <p>
                    {{ form.charity() }}
                    {{ form.charity.label }}
                </p>

                <p>
                    {{ form.promoted() }}
                    {{ form.promoted.label }}
                </p>
                <br>

                <p>
                    {{ form.price.label }}
                    <br>
                    {{ form.price(min=0, size=30) }}
                </p>
                <br>

                <p>
                    {{ form.url.label }}
                    <br>
                    {{ form.url(size=30) }}
                </p>
                <br>

                <p>
                    {{ form.description.label }}
                    <br>
                    {{ form.description(rows=5, cols=50) }}
                </p>

                <button class="button is-block is-info is-large is-fullwidth">Submit</button>
            </form>
        </div>
        <div class="added-events">
            {% for event in events %}
            <div class="event">
                <h2>{{ event['name'] }}</h2>
                <div>{{ event['tournament_organizer'] }}</div>
                <div>{{ event['location'] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </footer>
</div>
{% endblock %}