{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='TLS_logo.ico') }}">
<title>
{% block title %}
  {% if title %}{{ title }} - The Locator Spell{% else %}Welcome to The Locator Spell{% endif %}
{% endblock %}
</title>
<meta charset="UTF-8">
<meta name="description" content="Let's locate your next gaming event.">
<meta name="keywords" content="Locator, Spell, Locator Spell, Bad Orc Media">
<meta name="author" content="Michael Gillett">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7152531189033457"
     crossorigin="anonymous"></script>
{% endblock %}

{% block navbar %}
  <nav class="header">
    <div class="navbar-top">
      <a href="/">
        <img src="{{ url_for('static', filename='TLS_logo.png') }}">
      </a>
      <h2>The Locator Spell</h2>
    </div>
    <div class="nav-links">
      <a href="{{ url_for('events') }}">Events</a>
      <a href="{{ url_for('about') }}">About</a>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}

      {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}