{% extends "base.html" %}

{% block app_content %}
<div class="main-page">
    <div class="page-content">
        <div class="box">
            <a href="javascript:history.back()">Back to Events</a>
            <h2>Edit Event</h2>
            <form method="POST">
                {{ form.csrf_token }}
                
                <br>
                <p>
                  {{ form.name.label }} (Required)
                  <br>
                  {{ form.name(size=30, value=event.name) }}
                </p>
                <br>

                <p>
                  {{ form.tournament_organizer.label }} (Required)
                  <br>
                  {{ form.tournament_organizer(size=30, value=event.tournament_organizer) }}
                </p>
                <br>

                <p>
                  {{ form.location.label }} (Required)
                  <br>
                  {{ form.location(size=30, value=event.location) }}
                </p>
                <br>

                <p>
                  {{ form.event_type.label }} (Required)
                  <br>
                  {{ form.event_type(size=30, value=event.event_type) }}
                </p>
                <br>

                <div>
                  {{ form.category.label }}
                  {{ form.category(value=event.category) }}
                </div>
                <br>

                <div>
                    {{ form.start_date.label }} (Required)
                    <br>
                    {{ form.start_date(value=event.start_date) }}
                </div>
                <br>

                <div>
                    {{ form.end_date.label }}
                    <br>
                    {{ form.end_date(value=event.end_date) }}
                </div>
                <br>

                <p>
                    {{ form.charity(value=event.charity) }}
                    {{ form.charity.label }}
                </p>

                <p>
                    {{ form.promoted(value=event.promoted) }}
                    {{ form.promoted.label }}
                </p>

                <p>
                    {{ form.price.label }} (Required)
                    <br>
                    {{ form.price(min=0, size=30, value=event.price) }}
                </p>
                <br>

                <p>
                    {{ form.url.label }}
                    <br>
                    {{ form.url(size=30, value=event.url) }}
                </p>
                <br>

                <p>
                    {{ form.description.label }} (Required)
                    <br>
                    <textarea cols="50" id="description" maxlength="1000" name="description" required rows="5">{{event.description}}</textarea>
                </p>

                <button type="submit" class="button is-block is-info is-large is-fullwidth">Submit</button>
            </form>
        </div>
    </div>
    <footer>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </footer>
</div>
{% endblock %}