{% extends "base.html" %}

{% block app_content %}
    <div class="main-page">
        <div class="page-content">
            <div>
                <video class="welcome_vid" controls autoplay loop muted>
                    <source src="./static/Party_Traveling_Banner.mp4" type="video/mp4">
                    This browser does not display the video tag.
                </video>
                <br>
                <h4>The Locator Spell</h4>
                <br>
                <form action="/events" method="GET">
                    <input type="text" id="quickSearch" name="query"
                        placeholder="Quick Cast" />
                    <button type="submit"  onclick="quickSearch()">Search</button>
                </form>
                <br>
                <h4><a href="{{ url_for('events') }}">Browse All Events</a></h4>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </div>
{% endblock %}