{% extends "landing.html" %}

{% block app_content %}
    <!-- Landing page body content -->
    <body class="default">
        <div>
            <div>
                <form action="/events" method="GET">
                    <div class="search-bar">
                        <input type="text" class="quickSearch" name="query"
                            placeholder="Search" />
                        <button class="search-button" type="submit">
                            Search
                        </button>
                    </div>
                </form>
            </div>
                <div class="blog-posts">
                    <div class="blog-post">
                        <h4>Blog Title 1 That Can Go On Two Lines</h4>
                        <p>Example text composed of part of the blog post</p>
                        <small>03/07/2023</small>
                    </div>
                    <div class="blog-post">
                        <h4>Blog Title 2 That Can Go On Two Lines</h4>
                        <p>Example text composed of part of the blog post</p>
                        <small>03/08/2023</small>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p class="call-out">
                    <a class="about-us-link" href="{{ url_for('about') }}">About Us</a> | 
                    <a class="contact-us-link" href="{{ url_for('about') }}">Contact</a> | 
                    <a class="blog-link" href="{{ url_for('about') }}">Blog</a> | 
                    <a class="events-link" href="{{ url_for('events') }}">Events</a>
                </p>
                <p class="legal">Copyright &copy; 2022 Bad Orc Media<br>All Rights Reserved</p>
            </div>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
{% endblock %}