{% extends "landing.html" %}

{% block app_content %}
    <body class="default">
        <div>
            <div>
                <form action="/events" method="GET">
                    <div class="search-bar">
                        <input type="text" class="quickSearch" name="query"
                            placeholder="Quick Cast - Try searching for &#147;Warhammer&#148;" />
                        <button type="submit">
                            <img src="{{ url_for('static', filename='crystal_ball_pixel_art_small.png') }}" />
                        </button>
                    </div>
                </form>
            </div>
                <div class="eventsButton">
                    <button onclick="window.location.href=`{{ url_for('events') }}`">Browse All Events </button>
                </div>
            </div>
            <div>
                <p class="copyright"><a class="aboutUs" href="{{ url_for('about') }}"><br><br>About us</a><br><br>Copyright &copy; 2022 Bad Orc Media<br>All Rights Reserved</p>
            </div>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
{% endblock %}