{% extends 'bootstrap/base.html' %}
<!-- First page of the site, AKA the landing page. -->
{% block head %}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akshar:wght@500;600&family=Newsreader:opsz,wght@6..72,700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Logo1.ico') }}">

<title>
{% block title %}
  {% if title %}{{ title }} - The Locator Spell{% else %}Welcome to The Locator Spell{% endif %}
{% endblock %}
</title>
<meta charset="UTF-8">
<meta name="description" content="Let's locate your next gaming event.">
<meta name="keywords" content="Locator, Spell, Locator Spell, Bad Orc Media">
<meta name="author" content="Michael Gillett">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/landing_page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/text_styling.css') }}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7152531189033457"
     crossorigin="anonymous"></script>
{% endblock %}

{% block navbar %}
    <div class="title-overlay">
        <h1>
            The Locator Spell
        </h1>
    </div>
    <video tabindex="-1" class="welcome-vid" controls autoplay loop muted>
        <source src="static/Party_Traveling_Banner.webm" type="video/webm">
    </video>
    <br>
{% endblock %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
    </div>
    <div class="footer">
        <p class="call-out">
            <a class="about-us-link" href="{{ url_for('main.about') }}">About Us</a> | 
            <a class="blog-link" href="{{ url_for('main.about') }}">Blog</a> | 
            <a class="events-link" href="{{ url_for('main.events') }}">Events</a>
        </p>
        <p class="legal">Copyright &copy; 2022 Bad Orc Media<br>All Rights Reserved</p>
    </div>
{% endblock %}