{% extends "base.html" %}

{% block app_content %}
<div class="main-page box">
    <div class="page-content">    
        <div class="box">
            <form method="POST" action="/login">
                <h2 id="spell-heading">Login</h2>
                {{ form.csrf_token }}
                
                <p>
                  {{ form.email.label }}
                  <br>
                  {{ form.email() }}
                </p>

                <p>
                    {{ form.password.label }}
                    <br>
                    {{ form.password() }}
                </p>

                <div>
                    {{ form.remember() }}
                    {{ form.remember.label }}
                </div>
                <br>

                <!-- <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" name="remember">
                        Remember me
                    </label>
                </div> -->
                <button class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}